* {
	font-family: 'Noto Sans TC', sans-serif;
}
.container h1 {
	font-size: 80px;
}
@media(max-width: 567px){
	.container h1 {
		font-size: 50px;
	}
}
.container input {
	font-size: 25px;
}
.container button {
	font-size: 25px;
}

.sort {
	font-size: 20px;
}

.list {
	border: 1px solid #ccc;
}
.list label {
	font-size: 20px;
	line-height: 20px;
}
.list .form-check-input {
	line-height: 20px;
	width: 1rem;
	height: 1rem;
}


.sort-all {
	border-radius: 25% 25% 0 0;
	background-color: rgb(255, 202, 142);
}
.sort-active {
	border-radius: 25% 25% 0 0;
	background-color: rgb(142, 204, 255);
}
.sort-completed {
	border-radius: 25% 25% 0 0;
	background-color: rgb(255, 142, 195);
}

.list-all {
	border: 2px solid rgb(255, 202, 142);
}
.list-active {
	border: 2px solid rgb(142, 204, 255);
}
.list-completed {
	border: 2px solid rgb(255, 142, 195);
}

.completed {
	text-decoration: line-through
}
